<launch>
	<group if="1">
		<node name="GPS0" pkg="serial_amaury" type="serial_gps_avance" args="0 /dev/ttyUSB0" respawn="true" />
		<node name="traitementGPS" pkg="gps" type="traitementGPS"  respawn="true" output="screen"/>
	
	</group>
	<node pkg="serial_amaury" type="serial_CI" name="lecture_CI" respawn="true" args="9600"/>	
</launch>

